html{
	box-sizing: border-box;
	font-size: 15px;
}

*, *::before, *::after{
  box-sizing: inherit;
}

html, body{
  height: 100%;
}

a{
	display: inline-block;
	text-decoration: none;
	color: $text;
}

ul,
li{
	margin: 0;
	padding: 0;
	list-style: none;
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

button{
	outline: none;
}

body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.8;
	color: $text;
	min-width: 320px;
	overflow-x: hidden;
	position: relative;
}

.container-fluid{
	max-width: 1920px;
	margin: 0 auto;
}
.container{
	max-width: 1140px;
	padding: 0 15px;
	margin: 0 auto;
}

.img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.title{
	@include rufina700;
	font-size: rem(42);
	color: $title;
}

.text{
	font-weight: 300;
}

.wrapper{
  max-width: 660px;
  margin: 0 auto;
  margin-bottom: 100px;
  text-align: center;
}

.slick-dots{
	position: absolute;
	bottom: -60px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;

	li{
		width: 12px;
		height: 12px;
		border-radius: 50%;
		background-color: #ffc3c2;
		transition: linear .2s;
		margin: 0 6px;
		cursor: pointer;
	}

	button{
		font-size: 0;
		background: none;
		border: none;
	}

	.slick-active{
		background-color: $red;
	}
}

.social{
	display: flex;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	margin-top: -25px;
	transition: linear .2s;
}
.social__link{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 7px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 1px solid #363d40;
	background-color: #fff;
	transition: linear .2s;

	&:hover{
		background-color: $red;
		border-color: $red;

		.social__icon{
			fill: #fff;
		}
	}
}

// Burger
.ham {
  display: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
	margin-right: -10px;
	position: relative;
	z-index: 10;
	margin-top: -5px;

  &:hover{
    .line-burger{
      stroke: $green;
    }
  }
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}
.line-burger {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:$green;
  stroke-width:5.5;
  stroke-linecap:round;
  transition: .3s;
}
.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}



