.logo__icon{
  width: 50px;
  height: 40px;
}
.arrow__icon{
  width: 17px;
  height: 17px;
  fill: #fff;
  transition: ease-in .2s;
}
.play__icon{
  width: 15px;
  height: 15px;
  fill: $red;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -50%);
}
.feature__icon{
  width: 48px;
  height: 43px;
  fill: #fff;
}
.testimonials__icon{
  width: 66px;
  height: 66px;
}
.social__icon{
  width: 12px;
  height: 12px;
  fill: #363d40;
  transition: linear .2s;
}
.contact__icon{
  width: 20px;
  height: 20px;
  fill: #fff;
  transition: linear .2s;
}
